/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
}
body{
    background-color: white;

}
#like{
    font-size:24px;
    background-color:rgba(102, 51, 153, 0.363); 
    font-family: garamond;

    
}
.clearfix{
    max-width: 1000px;
}
.clearfix::after{
    content: " ";
    clear: both;
    display:table;
}
#d1{
    display: flex;
}

#d2{
    width: 50%;
}

#d3{
    display: flex;
}

#d4{
    width: 50%;
}

#headline{
    height: 15%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    padding-bottom: 60px;
    text-align: center;
    color: rebeccapurple;
    font-size: 180%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.ColorSelection{
    height: 10%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    text-align: center;
    color: rebeccapurple;
    font-size: 200%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   
}
.botton{
    background-color:rgba(102, 51, 153, 0.363); 
    border: 1px solid black;
    color:black;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 50%;

}
.botton:not(:last-child) {
    border-right: none; /* Prevent double borders */
 }
  .botton:hover {
    background-color: white;
  }



  .SizeSelection{
    height: 10%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    text-align: center;
    color: rebeccapurple;
    font-size: 200%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.addTO{
    height: 10%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    text-align: center;
    color: rebeccapurple;
    font-size: 200%;
    font-family: garamond;

}


.wishbutton {
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    background: purple;
    color: #FFF;
    padding: 6px 20px 7px; 
    font-size: 18px;
    line-height: 23px;
    min-width: 50px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle; 
    border: 1px solid 4383c5;
    cursor: pointer;
    font-weight: 600px; 
    transition: opacity 0.1s ease-out,background 0.1s ease-out;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.4);
    -webkit-transition: opacity 0.1s ease-out,background 0.1s ease-out;
    margin-right: 35%;
    margin-left: 35%;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  
  .btn:hover
  {
    background-color: black; 
  }



#Description{
    color: black;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    list-style-type: square;
    font-size: 100%;
    font-family: garamond;
    margin-right: 10%;
}
#dhead{
    text-align: center;
 
}



#Reviews{
    color: rebeccapurple;
    text-align: left;
    background-color: ghostwhite;
    padding: 30px;
    margin: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#Rhead{
    text-align: center;

}

.person1{
    font-size: 120%;
    font-style: normal;
}


















/* עיצוב כללי של האתר*/
#HomepageGrid {
    display: grid;
    grid-template-areas:
        'header header header'
        'center center center'
        'bottom bottom bottom';
}


.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.header {
    grid-area: header;
    background-color: white;
    width: 100%;
    height: 25vh;
}
#center{
    grid-area:center;
    background-color:whitesmoke;
    width: 100%;
    height:110vh;
}

#bottom{
    grid-area:bottom;
    background-color:black;
    width:100%;
    height:10vh;
}

/* Top Navigator Section Start*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rebeccapurple;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rebeccapurple;
  color: white;
}

/* Top Navigator Section End*/

#centergrid{
    display:grid;
    grid-template-areas:
        'promotionoftheday promotionoftheday promotionoftheday promotionoftheday'
        'bestsellerssection bestsellerssection bestsellerssection bestsellerssection'
        'giftcard giftcard weeklypromotion weeklypromotion'
        'giftcard giftcard weeklypromotion weeklypromotion'
}


    


/* bottom Navigator Section Start*/
/* Add a black background color to the top navigation */
.bottomnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.bottomnav a {
  float: none;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 13px;
}

/* Change the color of links on hover */
.bottomnav a:hover {
  background-color: #ddd;
  color: rebeccapurple;
}

/* Add a color to the active/current link */
.bottomnav a.active {
  background-color: rebeccapurple;
  color: white;
}
